<script lang="ts">
import { defineComponent, computed, ref } from 'vue'
import { SBtn, SIcon, SMenu, SList, SListItem, SSwitch } from '@/components/base'
import moment from 'moment'
import { useI18n } from 'vue-i18n'

export default defineComponent({
  name: 's-subscriptions-panel-item',

  components: {
    SBtn,
    SIcon,
    SMenu,
    SSwitch,
    SList,
    SListItem,
  },

  props: {
    icon: String,
    billingUrl: String,
    title: String,
    company: String,
    price: Number,
    currency: String,
    date: String,
  },

  setup(props) {
    const { t } = useI18n()

    const dateString = computed(() => {
      const dateNow = moment()
      const dateItem = moment(props.date)

      const isPassed = dateNow.isAfter(dateItem)

      if (isPassed) {
        return dateItem.fromNow()
      }

      return dateItem.from(dateNow)
    })

    const handleMenuClick = () => {
      settings.value = !settings.value
    }

    const onEmailNotificationsChange = () => {
      // TODO
    }

    const onPushNotificationsChange = () => {
      // TODO
    }

    const settings = ref(false)
    const emailNotifications = ref(false)
    const pushNotifications = ref(false)

    return {
      dateString,
      settings,
      emailNotifications,
      pushNotifications,
      handleMenuClick,
      onEmailNotificationsChange,
      onPushNotificationsChange,
      t,
    }
  },
})
</script>

<template>
  <div class="rounded-md elevation-3">
    <div class="flex px-6 py-4 elevation-1 bg-light-600 rounded-t-md">
      <div class="w-24">
        <img class="w-12 h-12 rounded" :src="icon" :alt="title" />
      </div>

      <p class="flex flex-col flex-grow text-xl text-center w-52 text-secondary">
        {{ title }}
        <span class="text-sm font-bold text-secondary">{{ company }}</span>
      </p>

      <p class="w-24 text-xl flex-end text-secondary">
        {{ price }}
        <s-icon size="1.5rem" color="secondary" :name="`currency ${currency}`"></s-icon>
      </p>
    </div>

    <div class="px-6 py-2 flex-between">
      <p class="w-24 text-lg text-light-700">
        {{ dateString }}
      </p>

      <div class="flex-grow flex-center w-52">
        <a
          :href="billingUrl"
          class="tracking-wide transition-all duration-300 hover:shadow-link-active shadow-link text-accent visited:text-accent-400"
          :title="`Link to unsubscribe from ${company} billing`"
          target="_blank"
        >
          {{ t('subscriptionsPanel.item.unsubscribeText') }}
        </a>
      </div>

      <div class="w-24 flex-end">
        <s-menu v-model="settings">
          <template #activator>
            <s-btn type="popover" variant="icon">
              <s-icon name="cog" size="1.5rem" without-color></s-icon>
            </s-btn>
          </template>
          <s-list>
            <s-list-item>
              <s-switch v-model="emailNotifications" @change="onEmailNotificationsChange">
                {{ t('subscriptionsPanel.item.notifications.email') }}
              </s-switch>
            </s-list-item>
            <s-list-item>
              <s-switch v-model="pushNotifications" @change="onPushNotificationsChange">
                {{ t('subscriptionsPanel.item.notifications.push') }}
              </s-switch>
            </s-list-item>
          </s-list>
        </s-menu>
      </div>
    </div>
  </div>
</template>
