<script lang="ts">
import { defineComponent } from 'vue'
import { useVModel } from '@vueuse/core'
import { Popover, PopoverPanel } from '@headlessui/vue'

export default defineComponent({
  name: 's-menu',

  components: { Popover, PopoverPanel },

  props: {
    modelValue: {
      type: Boolean,
      required: false,
    },

    width: {
      type: String,
      default: 'max-w-[15em]',
    },
  },

  setup(props, { emit }) {
    const active = useVModel(props, 'modelValue', emit)

    const onClickOutside = () => {
      active.value = false
    }

    return { active, onClickOutside }
  },
})
</script>

<template>
  <Popover class="relative">
    <slot name="activator"></slot>

    <transition
      enter-active-class="transition duration-200 ease-out"
      enter-from-class="translate-y-1 opacity-0"
      enter-to-class="translate-y-0 opacity-100"
      leave-active-class="transition duration-150 ease-in"
      leave-from-class="translate-y-0 opacity-100"
      leave-to-class="translate-y-1 opacity-0"
    >
      <PopoverPanel class="absolute right-0 z-10 w-screen transform bottom-10" :class="[width]">
        <slot></slot>
      </PopoverPanel>
    </transition>
  </Popover>
</template>
