<script lang="ts">
import { defineComponent } from 'vue'
import { useI18n } from 'vue-i18n'
import { SBtn } from '@/components/base'
import SSubscriptionsPanelItem from './s-subscriptions-panel-item/s-subscriptions-panel-item.vue'
import moment from 'moment'
import { AviableCurrencies } from '@/typings/Currency'

export default defineComponent({
  name: 's-subscriptions-component',

  components: {
    SBtn,
    SSubscriptionsPanelItem,
  },

  setup() {
    const { t } = useI18n()

    const subscriptions: {
      id: number
      icon: string
      billingUrl: string
      title: string
      company: string
      price: number
      currency: AviableCurrencies
      date: string
    }[] = [
      {
        id: 1,
        icon: 'https://yastatic.net/s3/home-static/_/31/3111cd045f263a072f504780b8535840.png',
        billingUrl: 'https://passport.yandex.ru/profile',
        title: 'Yandex.Station',
        company: 'Yandex',
        price: 500,
        currency: 'rub',
        date: moment('25.04.2021', 'DD.MM.YYYY').toISOString(),
      },
    ]

    return { subscriptions, t }
  },
})
</script>

<template>
  <div>
    <div class="p-4 flex-between">
      <p class="text-2xl">{{ t('subscriptionsPanelTitle') }}</p>
      <s-btn type="icon-left" variant="primary" icon="plus">
        {{ t('subscriptionsPanelAdd') }}
      </s-btn>
    </div>
    <s-subscriptions-panel-item
      v-for="subscription in subscriptions"
      :key="subscription.id"
      :icon="subscription.icon"
      :billing-url="subscription.billingUrl"
      :title="subscription.title"
      :company="subscription.company"
      :price="subscription.price"
      :currency="subscription.currency"
      :date="subscription.date"
    ></s-subscriptions-panel-item>
  </div>
</template>
