<script lang="ts">
import { defineComponent, computed, PropType } from 'vue'
import { PopoverButton } from '@headlessui/vue'
import { SIcon } from '@/components/base'
import _ from 'lodash'

type ButtonVariants = 'primary' | 'secondary' | 'outlined' | 'text' | 'icon'
type ButtonTypes = 'base' | 'icon-left' | 'icon' | 'popover'

export default defineComponent({
  components: { SIcon, PopoverButton },

  props: {
    type: {
      type: String as PropType<ButtonTypes>,
      default: 'base',
      validator: (v: string) => _.includes(['base', 'icon-left', 'icon', 'popover'], v),
    },

    variant: {
      type: String as PropType<ButtonVariants>,
      default: 'primary',
      validator: (v: string) => _.includes(['primary', 'secondary', 'outlined', 'text', 'icon'], v),
    },

    icon: {
      type: String,
      default: '',
      required: false,
    },
  },

  emits: ['click'],

  setup(props, { emit }) {
    const onClick = () => {
      emit('click')
    }

    const types: Record<ButtonTypes, string> = {
      base: 's-font-semibold-wider s-transition-default flex-center whitespace-nowrap',
      'icon-left': 's-font-semibold-wider s-transition-default flex-center whitespace-nowrap',
      icon: 's-transition-default flex-center whitespace-nowrap',
      popover: 's-font-semibold-wider s-transition-default flex-center whitespace-nowrap',
    }

    const variants: Record<ButtonVariants, string> = {
      primary: 'px-4 py-1 rounded bg-primary text-light elevation-3 focus:outline-none focus:ring-4 hover:elevation-1',
      secondary:
        'px-4 py-1 rounded bg-secondary text-light elevation-3 focus:outline-none focus:ring-4 hover:elevation-1',

      outlined:
        'px-4 py-1 rounded border-2 border-secondary text-dark elevation-3 focus:outline-none focus:ring-4 hover:elevation-1',

      text: 'px-4 py-1 rounded bg-transparent text-dark focus:outline-none focus:ring-4 hover:ring-2',
      icon: 'p-1 rounded-full bg-transparent text-secondary focus:outline-none focus:ring-4 hover:rotate-45',
    }

    const buttonClasses = computed(() => {
      const type = types[props.type] || types['base']
      const variant = variants[props.variant] || variants['primary']

      return _.join([type, variant], ' ')
    })

    return {
      buttonClasses,
      onClick,
    }
  },
})
</script>

<template>
  <template v-if="type === 'icon'">
    <button :class="buttonClasses" @click="onClick">
      <s-icon class="transition-transform" size="1.5rem" without-color :name="icon"></s-icon>
    </button>
  </template>
  <template v-else-if="type === 'icon-left'">
    <button :class="buttonClasses" @click="onClick">
      <s-icon class="transition-transform" size="1.5rem" without-color :name="icon"></s-icon>
      <span>
        <slot></slot>
      </span>
    </button>
  </template>
  <template v-else-if="type === 'popover'">
    <popover-button :class="buttonClasses">
      <slot></slot>
    </popover-button>
  </template>
  <template v-else>
    <button :class="buttonClasses" @click="onClick">
      <span>
        <slot></slot>
      </span>
    </button>
  </template>
</template>
