<script lang="ts">
import { defineComponent, watch } from 'vue'
import { Switch, SwitchGroup, SwitchLabel } from '@headlessui/vue'
import { useVModel } from '@vueuse/core'

export default defineComponent({
  components: { Switch, SwitchGroup, SwitchLabel },

  props: {
    modelValue: {
      type: Boolean,
      default: false,
      required: true,
    },
  },

  emits: ['update:modelValue', 'change'],

  setup(props, { emit }) {
    const enabled = useVModel(props, 'modelValue', emit)

    watch(enabled, (newValue) => {
      emit('change', newValue)
    })

    return { enabled }
  },
})
</script>

<template>
  <SwitchGroup>
    <div class="flex items-center">
      <Switch
        v-model="enabled"
        :class="enabled ? 'bg-primary' : 'bg-dark-50'"
        class="relative inline-flex items-center h-6 transition-colors rounded-full s-switch w-11 focus:outline-none focus:ring-4"
      >
        <span
          :class="enabled ? 'translate-x-6 s-switch__trigger--active' : 'translate-x-1'"
          class="inline-block w-4 h-4 transition-all transform rounded-full s-switch__trigger bg-light"
        />
      </Switch>
      <SwitchLabel class="ml-4">
        <slot></slot>
      </SwitchLabel>
    </div>
  </SwitchGroup>
</template>

<style lang="scss">
.s-switch {
  &:hover {
    .s-switch__trigger {
      @apply w-5;
    }

    .s-switch__trigger--active {
      @apply translate-x-5;
    }
  }
}
</style>
