<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 's-list',
  setup() {
    return {}
  },
})
</script>

<template>
  <ul class="p-2 rounded bg-light">
    <slot></slot>
  </ul>
</template>
