/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-end {
    @apply flex justify-end items-center;
  }
}

@layer base {
  .s-font-semibold-wider {
    @apply text-base font-semibold tracking-wider;
  }

  .s-transition-default {
    @apply transition duration-300 ease-in-out;
  }
}
