<script lang="ts">
import { computed, defineComponent, PropType } from 'vue'
import { useTextColor, AviableColors, AS_COMPUTED } from '@/utils/colors'
import _ from 'lodash'

export default defineComponent({
  name: 's-icon',

  props: {
    name: String,

    size: {
      type: String,
      default: '2rem',
    },

    color: {
      type: String as PropType<AviableColors>,
      default: 'primary',
    },

    withoutColor: {
      type: Boolean,
      default: false,
    },
  },

  setup(props) {
    const mdiIconName = computed(() => {
      return _.kebabCase(`mdi-${props.name}`)
    })

    const { textColor } = useTextColor(props.color, AS_COMPUTED.NO)

    const iconStyles = {
      fontSize: props.size,
      width: props.size,
      height: props.size,
    }

    return {
      mdiIconName,
      textColor,
      iconStyles,
    }
  },
})
</script>

<template>
  <span class="flex items-center" :style="iconStyles">
    <template v-if="withoutColor">
      <i class="mdi" :class="[mdiIconName]"></i>
    </template>
    <template v-else>
      <i class="mdi" :class="[mdiIconName, textColor]"></i>
    </template>
  </span>
</template>
