<script lang="ts">
import { defineComponent } from 'vue'
import { SBtn, SIcon } from '@/components/base'

export default defineComponent({
  components: {
    SBtn,
    SIcon,
  },

  setup() {
    return {}
  },
})
</script>

<template>
  <div class="flex flex-col space-y-4">
    <div class="flex space-x-2">
      <s-btn variant="primary">Primary</s-btn>
      <s-btn variant="secondary">Secondary</s-btn>
      <s-btn variant="outlined">Outlined</s-btn>
      <s-btn variant="text">Text</s-btn>
      <s-btn variant="icon">
        <s-icon name="account"></s-icon>
      </s-btn>
    </div>
    <div class="flex space-x-2">
      <s-btn type="icon" variant="primary" icon="account"></s-btn>
      <s-btn type="icon" variant="secondary" icon="account"></s-btn>
      <s-btn type="icon" variant="outlined" icon="account"></s-btn>
      <s-btn type="icon" variant="text" icon="account"></s-btn>
      <s-btn type="icon" variant="icon" icon="account"></s-btn>
    </div>
    <div class="flex space-x-2">
      <s-btn type="icon-left" variant="primary" icon="account">Primary</s-btn>
      <s-btn type="icon-left" variant="secondary" icon="account">Secondary</s-btn>
      <s-btn type="icon-left" variant="outlined" icon="account">Outlined</s-btn>
      <s-btn type="icon-left" variant="text" icon="account">Text</s-btn>
      <s-btn type="icon-left" variant="icon" icon="account">
        <s-icon size="1.5rem" without-color name="cog"></s-icon>
      </s-btn>
    </div>
  </div>
</template>
