<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 's-list-item',

  setup() {
    return {}
  },
})
</script>

<template>
  <li class="px-2 py-1 transition duration-300 hover:bg-light-600">
    <slot></slot>
  </li>
</template>
