<script lang="ts">
import { defineComponent, reactive } from 'vue'
import { useI18n } from 'vue-i18n'
import SOverviewPanelItem from './s-overview-panel-item/s-overview-panel-item.vue'
import { AviableCurrencies } from '@/typings/Currency'

export default defineComponent({
  name: 's-overview-panel',

  components: {
    SOverviewPanelItem,
  },

  setup() {
    const { t } = useI18n()

    const panelItems: {
      id: number
      label: string
      price: number
      currency: AviableCurrencies
      localCurrency: AviableCurrencies
    }[] = reactive([
      {
        id: 1,
        label: t('overviewPanelItemRemaining'),
        localCurrency: t('overviewPanelItemCurrency') as AviableCurrencies,
        price: 100,
        currency: 'usd',
      },
      {
        id: 2,
        label: t('overviewPanelItemTotal'),
        localCurrency: t('overviewPanelItemCurrency') as AviableCurrencies,
        price: 20,
        currency: 'usd',
      },
    ])

    return {
      panelItems,
      t,
    }
  },
})
</script>

<template>
  <div class="flex flex-col w-full space-y-2">
    <p class="px-4 py-2 text-2xl text-secondary">{{ t('overviewPanelTitle') }}</p>
    <s-overview-panel-item
      v-for="item in panelItems"
      :key="item.id"
      :label="item.label"
      :price="item.price"
      :currency="item.currency"
      :local-currency="item.localCurrency"
    ></s-overview-panel-item>
  </div>
</template>
