<script lang="ts">
import { defineComponent } from 'vue'
import SOverviewPanel from '@/components/s-overview-panel'
import SSubscriptionsPanel from '@/components/s-subscriptions-panel'

export default defineComponent({
  name: 'app',

  components: {
    SOverviewPanel,
    SSubscriptionsPanel,
  },
})
</script>

<template>
  <div class="min-h-screen p-2 bg-light">
    <s-overview-panel></s-overview-panel>
    <s-subscriptions-panel class="mt-8"></s-subscriptions-panel>
  </div>
</template>
