<script lang="ts">
import { defineComponent, ref, PropType } from 'vue'
import { SIcon } from '@/components/base'
import { AviableCurrencies } from '@/typings/Currency'

export const avaiableCurrencyIcons: Record<string, string> = {
  rub: 'currency rub',
  usd: 'currency usd',
}

export default defineComponent({
  name: 's-overview-panel-item',

  components: { SIcon },

  props: {
    label: String,
    price: Number,
    currency: {
      type: String as PropType<AviableCurrencies>,
      required: true,
    },

    localCurrency: {
      type: String as PropType<AviableCurrencies>,
      required: true,
    },
  },

  setup(props) {
    const currencyIcon = ref(avaiableCurrencyIcons[props.localCurrency])

    if (props.currency !== props.localCurrency) {
      // TODO: Calculate different price in case local currency changed
    }

    return { currencyIcon }
  },
})
</script>

<template>
  <div class="flex items-center justify-between h-24 p-6 rounded-md elevation-3 bg-light">
    <div class="flex flex-col">
      <p class="text-3xl text-primary">{{ price }}</p>
      <p class="text-md text-light-700">{{ label }}</p>
    </div>
    <div>
      <s-icon size="4rem" color="secondary" :name="currencyIcon"></s-icon>
    </div>
  </div>
</template>
